.sushi {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 300px;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.63));

    &.clicked {
      transform: scale(1.1);
    }
  }
}
