.sushi {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(
    71% 95%,
    78% 91%,
    86% 88%,
    91% 83%,
    95% 78%,
    98% 70%,
    98% 62%,
    99% 54%,
    98% 45%,
    97% 36%,
    94% 29%,
    91% 23%,
    83% 15%,
    76% 14%,
    66% 9%,
    56% 5%,
    48% 1%,
    36% 0%,
    30% 6%,
    21% 13%,
    11% 18%,
    5% 26%,
    1% 35%,
    0% 43%,
    0% 53%,
    0% 65%,
    0% 76%,
    5% 84%,
    9% 91%,
    14% 95%,
    21% 100%,
    32% 100%,
    42% 100%,
    50% 100%,
    58% 100%,
    64% 99%
  );

  img {
    width: 300px;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.63));

    &.clicked {
      transform: scale(1.1);
    }
  }
}
